.auth-container {
  width: 100%;
  height: 100vh;
  background: #f6f9fc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  width: 380px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.auth-card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

.auth-card button {
  width: 100%;
  padding: 12px;
  background: #3b82f6;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.auth-card button:hover {
  background: #2563eb;
}

.role-btn {
  margin-top: 10px;
  background: #10b981 !important;
}

.link-btn {
  margin-top: 10px;
  background: transparent;
  color: #3b82f6;
  border: none;
  text-align: center;
  cursor: pointer;
}
